FRONTEND_PORT=4200
EUREKA_PORT=8762
API_GATEWAY_PORT=8193
MYSQL_PORT=3307
USER_SERVICE_PORT=8182
COURSE_SERVICE_PORT=8181
EVENT_SERVICE_PORT=8185
EXAMEN_SERVICE_PORT=8186
NOTE_SERVICE_PORT=8189
PROMETHEUS_PORT=9091
CADVISOR_PORT=8198
GRAFANA_PORT=3002
GEMINI_API_KEY=
